.container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin: 40px 0;
}

.wrapper h2 {
    margin-top: 20px;
}

.wrapper {
    text-align: center;
    height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
    }
}