.container {
    display: flex;
    align-items: center;
    border: 1px solid #E6E6E6;
    max-width: 470px;
    width: 100%;
    padding: 0 10px;
    border-radius: 9px;
}

.input {
    max-width: 470px;
    width: 100%;
    height: 50px;
    border-radius: 9px;
    border: none;
    padding-left: 10px;
    outline: none;
}

.icon {
    cursor: pointer;
}