.container {
    display: flex;
    position: relative;
}

.text {
    position: absolute;
    text-align: center;
    display: flex;
    top: 60px;
    gap: 13px;
    flex-direction: column;
}

.text button {
    all: unset;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    gap: 10px;
    color: #00B207;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

.text span:first-child {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.text p {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.imgleaf {
    max-width: 423px;
    width: 100%;
}