.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px 6px 16px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}