.container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:active {
    background-color: #00B207;
    color: #00B207;
    cursor: pointer;
}

