.container {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    margin-top: 50px;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}