.container {
    padding: 14px 32px 14px 32px;
    border-radius: 43px;
    background-color: #00B207;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    max-width: 371px;
    width: 100%;
    border: none;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}