.woman {
    max-width: 872px;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    max-width: 1320px;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.lil {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

}



@media screen and (max-width: 767px) {
    .lil {
        display: none;
    }

    .woman {
        margin-bottom: 200px;
    }
}



