.container {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.wrapper {
    max-width: 985px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }

}