.container {
    display: flex;
    justify-content: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menuu {
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
}


@media screen and(min-width: 1056px) {
    .wrapper {
        width: 100%;
    }
}