.container {
    max-width: 530px;
    width: 100%;
    display: flex;
    align-items: center;
}

.container input {
    max-width: 350px;
    width: 100%;
    border: 1px solid #E6E6E6;
    border-radius: 46px 0 0 46px;
    padding: 14px 24px 14px 24px;
    outline: none;
}

.container input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #808080;
}

.container button {
    border-radius: 0 46px 46px 0;
    padding: 14px 22px 13px 24px;
    background-color: #00B207;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border: navajowhite;
    cursor: pointer;
}