.wrapper {
    max-width: 872px;
    width: 100%;
    height: 100%;
    border: 1px solid #E6E6E6;
    padding: 10px 5px;
}

.header {
    border-bottom: 1px solid rgba(175, 170, 170, 0.589);
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
    color: #808080;
    font-size: 14px;
    font-weight: 500;
}

.head {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(192, 188, 188, 0.568);
    max-width: 830px;
    width: 100%;
}

.plus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(197, 193, 193, 0.575);
    border-radius: 170px;
    width: 124px;
    height: 50px;
    padding: 8px;
}

.plus span {
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.x {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 168px;
    height: 45px;
    border-radius: 43px;    
    border: none;
    background-color: #F2F2F2;
    cursor: pointer;
    font-weight: 600;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.inputWrap {
    max-width: 670px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.inputWrap input {
    border: 1px solid #E6E6E6;
    padding: 14px 24px 14px 24px;
    border-radius: 46px;
    max-width: 530px;
    outline: none;
    width: 100%;
}

.apply {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    position: relative;
}

.apply span {
    font-weight: 600;
}

.inputWrap button {
    color: #333333;
    border: none;
    max-width: 220px;
    width: 100%;
    height: 40px;
    border-radius: 43px;
    cursor: pointer;
    background-color: #333333;
    font-weight: 600;
    color: #fff;
}
