.wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1320px;
    width: 100%;
    gap: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}