.headerBorder {
    border-bottom: 1px solid #c2c0c08f;
}

.img {
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}