.container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 40px 0;
}


@media screen and (min-width: 320px) and (max-width: 1300px) {
    .container {
        justify-content: center;
        text-align: center;
    }
}
