.firstContainer {
    width: 124px;
    height: 50px;
    border: 1px solid #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 170px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #F2F2F2;
}


.btn {
    padding: 16px 40px 16px 40px;
    background-color: #00B207;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 43px;
    max-width: 447px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 647px;
    width: 100%;
    border-top: 1px solid rgba(182, 177, 177, 0.555);
    padding-top: 20px;
}

.heart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}