.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.item {
    display: flex;
    flex-direction: column;
}

.item span:first-child {
    font-weight: 500;
    font-size: 18px;
    color: #1A1A1A;
}

.item span:last-child {
    color: #999999;
    font-weight: 500;
    font-size: 10px;
}